* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #fff;
}

body {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  background-color: #151515;
  color: rgb(255, 255, 255);
  padding-bottom: 12rem;
}

.container-home {
  margin: 0 2rem;
}

.container-details {
  margin: 0 14rem;
}

.sidebar .left-sidebar {
  height: 100vh;
  border-right: 1px solid #fff;
}

.sidebar .left-sidebar li {
  list-style-type: none;
  background-color: rgba(26, 25, 25, 0.769);
  margin: 1rem 0.5rem;
  padding: 1rem 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
}
.sidebar .left-sidebar li:hover {
  background-color: rgba(56, 54, 54, 0.769);
}
.sidebar .left-sidebar a {
  text-decoration: none;
  color: white;
}

tr {
  color: white;
  font-size: 24px;
}

h5 {
  font-size: 24px;
  font-weight: 600;
}

.dtls_name {
  font-size: 20px;
  font-weight: 400;
  line-height: 1rem;
  word-spacing: 1px;
  color: rgb(83, 83, 231);
}

.movie_desc {
  font-size: 30px;
}

.post-time {
  color: rgba(26, 25, 25, 0.769);
}
